#wrapper {
    width: 100%;
    height: 100%;
    min-width: 900px;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    font-family: "Helvetica";
}

.header {
    position: relative;
    width: 100%;
    height: 70px;
    margin: 0;
    border: none;
    display: flex;
    background: url(img/desktopHeader.svg) center center / cover no-repeat;
    color: white;
    align-items: center;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25)
}

.header h1 {
    letter-spacing: 0.05em;
    padding-left: 32px;
    margin: 0;
}

.sidebar {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 70px);
    width: 20%;
    background-color: #565C65;
}

.mainNav__list {
    margin-top: 0;
}

.mainNav__item {
    display: block;
    font-size: 18px;
    margin-left: -40px;
}

.mainNav__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 10px 8px 10px;
    color: white;
    text-decoration: none;
}

.mainNav__icon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    top: -2px;
}

.mainNav__arrowicon {
    width: 15px;
    height: 15px;
    margin: 0 8px 0px auto;
}

.mainNav__link:hover {
    background-color: #71767A;
}

.mainNav__link:focus {
    border: 2px solid #AACDEC;
    padding: 4px;
    box-shadow: inset 0px 0px 0px 2px #AACDEC;
    outline: none;
}

.mainNav__divider {
    margin: 0;
    height: 0;
    border-bottom: 1px solid #71767A;
    border-top: 1px solid #3D4551;
}

.sidebar-footer {
    margin-top: auto;
    height: 11%;
    background-color: #3D4551;
    color: white;
    text-align: center;
}

.copy-rights {
    margin: 8px auto;
    line-height: 18px;
    font-size: 12px;
}

.main {
    width: 80%;
    height: 88%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__info {
    height: 53%;
    width: 70%;
}

.main__info h2 {
    margin-left: -3.8%;
    color: #3D4551;
}

.description {
    border-left: 5px solid #2378C3;
    margin-left: -20px;
    padding: 4px 30px;
    line-height: 22px;
    font-size: 15px;
    color: #2D2E2F;
    width: 680px;
}

.main__print-version {
    width: 70%;
    height: 20%;
    margin-left: -4%;
}

.purchase {
    line-height: 22px;
    font-size: 15px;
    padding-bottom: 15px;
    color: #2D2E2F;
}

.main__footer {
    width: 100%;
    height: 15%;
    background-color: #EDEFF0;
}

.main__footer .recent-updates {
    padding-left: 13%;
    color: #2D2E2F;
    margin: 5px 0;
}

h4 {
    color: #3D4551;
}

.data {
    color: #565C65;
    font-size: 15px;
    padding-bottom: 10px;
}

.archive {
    font-size: 15px;
    padding-bottom: 10px;
}

.mccme-site,
.mccme-adress,
.archive-link {
    color: #2C608A;
}