.contacts__desc {
    color: #2D2E2F;
    margin-top: 32px;
    margin-bottom: 16px;
}

.contacts__item {
    display: flex;
    flex-direction: row;
    font-weight: 700;
}

.contacts__option {
    min-width: 95px;
    color: #3D4551;
    text-align: right;
}

.contacts__phone,
.contacts__email {
    color: #2C608A;
    margin-left: 16px;
}

@media screen and (max-width: 360px) {
    .contacts__phone,
    .contacts__email {
        font-size: 18px;
    }
}