.header {
    background: url('../../img/header.svg') center center / cover;
    background-repeat: no-repeat;
    min-height: 72px;
}

.header__title {
    color: rgba(237, 239, 240, 1);
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 0.05em;
    padding: 20px 0px 20px 32px;
}