.notes {
    min-height: 560px;
    background: #EDEFF0;
}

.notes__list {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.notes__item {
    min-width: 100px;
    min-height: 220px;
    margin-bottom: 35px;
    max-width: 376px;
    margin-right: 40px
}

.notes__header {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
    align-items: center;
}

.notes__title {
    margin-left: 16px;
    font-size: 20px;
    font-weight: 700;
    color: rgba(61, 69, 81, 1);
}

.notes__desc {
    font-size: 16px;
    line-height: 22px;
    color: #2D2E2F;
}