.sidebar {
    background: #565C65;
    min-width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 300px;
}

@media screen and (max-width: 890px) {
    .sidebar {
        display: none;
    }
}

.sidebar__link {
    display: flex;
    padding: 20px 16px 20px 22px;
    color: #EDEFF0;
    text-decoration: none;
}

.sidebar__link:focus {
    box-shadow: inset 0px 0px 0px 4px #AACDEC;
    outline: none;
}

.sidebar__item--active {
    background: rgba(61, 69, 81, 1);
}

.sidebar__item--active .sidebar__arrow-icon {
    display: none;
}

.sidebar__item--active:hover .sidebar__arrow-icon {
    display: block;
}

.sidebar__link:hover {
    background: #71767A;
}

.sidebar__icon {
    margin-right: 12px;
    width: 22px;
    height: 22px;
}

.sidebar__title {
    font-size: 24px;
    line-height: 24px;
    flex-grow: 1;
}

.sidebar__arrow-icon {
    width: 18px;
    height: 18px;
}

.sidebar__divider {
    margin: 0;
    height: 0;
    border-bottom: 1px solid #71767A;
    border-top: 1px solid #3D4551;
}

.sidebar-footer {
    min-height: 72px;
    background: #3D4551;
    padding: 12px 33px 12px 33px;
    text-align: center;
    color: #C6CACE;
}

.sidebar-footer__text {
    font-size: 16px;
}